<header class="v2-header" data-pagefind-ignore>
  <div class="portal-wrap v2-header-inner">
    <a class="site-brand" href="{{ '/' | siteUrl }}">{{ site.shortName }}</a>
    <nav class="v2-nav" aria-label="知识库主导航">
      <a href="{{ '/' | siteUrl }}#learning-path">学习路线</a>
      <a href="{{ '/topics.html' | siteUrl }}">专题</a>
      <a href="{{ '/search.html' | siteUrl }}">搜索</a>
      <a href="{{ '/mentor.html' | siteUrl }}">导师面板</a>
    </nav>
  </div>
</header>
